---
title: †暗黒紅蓮堕天使☆武帝†のサイト
layout: default
additional_css: toppage
---
.main
  %header
    %h1.title
      † Butei No Web Site †
    %marquee{:behavior => "alternate", :direction => "left", :scrollamount => "10", :width => "80%"}
      ようこそ！
      %span.red> †暗黒紅蓮堕天使☆武帝†
      のサイトへ
    .counter
      あなたは
      %img{:src => "/image/counter.gif"}>/
      人目の迷い人です。
      %br/
      %span.red
        ※ キリ番の人はBBSにカキコお願いします。踏み逃げ禁止！
  %hr/
  %div
    %ul.menu
      %li
        = link_to 'プロフィール', '/profile.html'
      %li
        = link_to 'ブログ', 'http://buty4649.hatenablog.com'
      %li
        = link_to 'イラスト', '/illust.html'
      %li
        = link_to '小説', '/story.html'
        %img{:src => "/image/new.gif"}/
      %li
        = link_to 'BBS', ''
  %hr/
  %footer
    .banner
      お持ち帰り用バナー
      %br/
      %img{:src => "/image/banner_big.png"}/
    ※ 各画像は
    = link_to 'FairyTail様', 'http://fairy-tail.com/index.html'
    、
    = link_to 'blue-green様', 'http://bluegreen.jp/index.html'
    、
    = link_to '超シンプル素材集', 'http://sozai.akuseru-design.com/'
    よりお借りしました。
    %br/
    ※ このサイトは、1024x768 16ビット以上の解像度奨励です。
    %br/
    This site is japanese only.
    %br/
    %br/
    %div{:style => "color:#202020"} このサイトは唐突に更地になる可能性がありますん
